* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-main: #7C1D41;
    --cor-seco: #8F3863;
    --cor-thir: #43427E;
}

.cor-prima {
    color: var(--cor-main);
}

.cor-secun {
    color: var(--cor-seco)!important;
}

.cor-terci {
    color: var(--cor-thir)!important;
}

/* Navegador */
#navbar {
    padding-top: 5px;
}

#logo {
    width: 140px;
    height: 90px;
    margin-right: 10%;
    margin-left: 10%;
}

#ul {
    width: 100%;
}

.item-lista{
    margin: 0% 4%;
}

.itens {
    color: #8F3863;
    font-size: 20px;
}

#dropdown-pessoa .dropdown-menu {
    min-width: 90px;
}

#imgitens {
    margin: 0px 30px; 
}

/* Carde */
.borda-imagem {
    border: solid 3px var(--cor-seco);
}

.borda-hr {
    margin: 10px 0 3px;
}

/* Tabela */
#tabelas {
    width: 70%;
}

.espaco-tr {
    width: 25%;
}

#text-agendamento {
    width: 30%;
}

/* RESPONSIVIDADE */
@media screen and (min-width: 577px) { /*Estilização para telas grandes*/
    #text-suspenso {
        display: none;
    }
}

@media screen and (max-width: 576px) { /*Estilização para telas pequenas*/
    #itens{
        margin: 0px 0px 0px 30px;
    }
    #imgitens{
        margin: 0px 0px 0px 30px;
    }

    #tabelas {
        width: 90%;
        margin: 10px auto!important;
    }

    .table-responsive-lg {
        margin: 20px 0;
    }

    #tabela-e-text {
        width: 100%;
    }

    #text-agendamento {
        display: none!important;
    }

    #text-suspenso {
        display: flex;
    }
}