@import url(navbar_pags.css);

* {
    margin: 0;
    padding: 0;
}

/* Navegador */


/* Carde */
.borda-imagem {
    border: solid 3px var(--cor-seco);
}

.borda-hr {
    margin: 10px 0 3px;
}

/* Tabela */
#tabelas {
    width: 70%;
}

.espaco-tr {
    width: 25%;
}

#text-agendamento {
    width: 30%;
}

/* RESPONSIVIDADE */
@media screen and (min-width: 577px) { /*Estilização para telas grandes*/
    #text-suspenso {
        display: none;
    }
}

@media screen and (max-width: 576px) { /*Estilização para telas pequenas*/
    #itens{
        margin: 0px 0px 0px 30px;
    }
    /*  */

    #tabelas {
        width: 90%;
        margin: 10px auto!important;
    }

    .table-responsive-lg {
        margin: 20px 0;
    }

    #tabela-e-text {
        width: 100%;
    }

    #text-agendamento {
        display: none!important;
    }

    #text-suspenso {
        display: flex;
    }
}