::placeholder {
    text-align: center; 
 }

#submit {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

@media screen and (min-width: 577px) { /* Tela Grande */
    #logodiv {
        padding-top: 10%; 
        margin-left: -60%;
    }

    #logoimg {
        width: 320px;
        height: 140px;
        object-fit: cover;
        object-position: 10% 50%;
        margin-bottom: -20px;
    }
    
    #titulo {
        margin-left: -60%;
        font-size: 400%;
    }
    #subtitulo {
        margin-left: -60%;
        font-size: 120%;
    }
    #formulario {
        margin-left: -60%;
    }

    #cadastro{
        margin-left: -60%;
        font-size: 80%;
    }
}

@media screen and (max-width: 576px) { /* Tela Pequena */
    #logodiv {
        padding-top: 30%; 
        margin-left: 0%;
    }

    #logoimg {
        width: 320px;
        height: 140px;
        object-fit: cover;
        object-position: 10% 50%;
        margin-bottom: -20px;
    }
    
    #titulo {
        margin-left: 0%;
        font-size: 300%;
    }
    #subtitulo {
        margin-left: 0%;
        font-size: 120%;
    }
    #formulario {
        padding-top: 5%; 
        margin-left: 0%;
    }

    #cadastro{
        margin-left: 0%;
        font-size: 80%;
        
    }
}