@import url(navbar_pags.css);

/* Estilização da NavBar */

img{
    float: left;
    width: 50px;
}
h4{
    margin-top: 10px;
    margin-left: 60px;
}

.textdra{
    font-style: italic;
    font-size: 15px;
    text-align: justify;
}
.dramoa{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    max-width:500px ;
    min-width: none;
    float: left;
   
}
.draur{
    float:  right;
    margin-left: 10px;
    margin-right: 10px;
    max-width:764px ;
    min-width: none;
}
.user{
    float: left;
    max-width: 500px;
    min-width: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -10px;
}
.agnes{
    width: 300px;
}

/* Fim da NavBar */

#nome-usuario {
    font-size: 31px;
    text-align: center;
}

@media screen and (min-width: 992px) { /* Tela Grande */
    #pfp {
        margin: 5rem;
        margin-left: 9rem;
        margin-top: 8rem;
        min-width: none;
        max-width: none;
    }

    #nome-usuario {
        font-size: 4vh;
    }

    #foto-perfil {
        margin-inline: auto;
        min-width: none;
        min-height: none;
        max-width: 40vh;
        max-width: 40vh;
    }

    #editar-perfil {
        margin-inline: auto;
        min-width: none;
        max-width: 90%;
        font-size: 2vh;
        background-color: #8F3863;
        color: white;
    }

    #seu-perfil {
        width: fit-content;
        font-size: 6vh;
        margin-top: 7rem;
    }

    #dropdowns {
        margin-top: 4vh;
        margin-left: 4vh;
    }
}

    #info {
        margin-inline: auto;
        font-size: 2.5vh;
        width: min-content;
    }

    #btn-menu-perfil {
        font-size: 3vh;
        width: fit-content;
    }

    #menu-perfil {
        font-size: 2vh;
    }

@media screen and (max-width: 991px) { /* Tela Pequena */
    #pfp {
        margin-inline: auto;
        margin-top: 10%;
    }

    #nome-usuario {
        font-size: 4vh;
    }

    #foto-perfil {
        margin-inline: auto;
        width: 80%;
    }

    #editar-perfil {
        margin-inline: auto;
        width: 25vh;
        height: fit-content;
        font-size: 3vh;
    }

    #seu-perfil {
        width: fit-content;
        font-size: 6vh;
        margin-top: 4rem;
    }

    #dropdowns {
        margin-top: 4vh;
        width: fit-content;
    }

    #info {
        width: fit-content;
    }

    #textos {
        flex-direction: column;
    }
}