/* Estilização NavBar(Padronizado) */
#main-nav {
    margin-top: 20px;
    margin-bottom: 50px;
}

#txt-logo {
    color: #000000;
    font-size: 40px;
}

#lista {
    background-color: #FFF3E9;
    border: solid 2px #FFF3E9;
    border-radius: 20px;
    float: right;
}

.navbar-toggler-icon {background-image: url(../img/principal/menu_hamburguer.svg);}

#button-color {color: rgba(255, 243, 233, 0.4); border-color: rgba(255, 243, 233, 0.4);}

.nav-link {font-size: 20px; color: #8F3863;}
.dropdown-item {color: #8F3863;}

.nav-link:hover, .dropdown-item {color: #5e133a;}
.nav-link:visited, .dropdown-item {color: #5e133a;} /* Possível mudança após paleta */

.dropdown-menu {background-color: #FFF3E9;}

body{
    color: #5e133a;
}

/* Responsividade */
@media screen and (min-width: 577px) { /*Estilização para telas grandes*/
    body{
        margin: 0px 0px 0px 50px;
    }
    #titulo{
        margin: 0px 0px 60px 0px;
    }
    #barra{
        display: flex;
        background-color: #f57e7d;
        opacity: 20%;
        border-radius: 2px;
        width: 700px;
        height: 50px;
    }
    #perg{
        display: inline-block;
        margin: 0px 30px 50px 10px;
    }
}

@media screen and (max-width: 576px) { /*Estilização para telas pequenas*/
    body{
        margin: 0px 0px 0px 0px;
    }
    #corpo{
        margin: 0px 0px 0px 30px;
    }
    #titulo{
        margin: 0px 0px 30px 0px;
    }
    #barra{
        display: flex;
        background-color: #f57e7d;
        opacity: 20%;
        border-radius: 2px;
        width: 350px;
        height: 30px;
    }
    #perg{
        display: inline-block;
        margin: 0px 0px 35px 0px;
    }
}