/* Cor da Fonte */
body{
    color: #5e133a;
}

/* Estilização do NavBar */
#navbar{
    padding-top: 5px;
}
#logo{
    width: 140px;
    height: 90px;
    margin-right: 10%;
    margin-left: 10%;
}
#itens{
    margin: 0px 30px 0px 30px;
    color: #8F3863;
    font-size: 20px;
}
#imgitens{
    margin: 0px 30px 0px 30px;
}

/* Responsividade */
/*Estilização para telas grandes*/
@media screen and (min-width: 577px) { 
    #corpo{
        margin: 0px 0px 0px 4%;
    }
    #titulo{
        margin: 0px 0px 4% 0px;
    }
    #barra{
        display: flex;
        background-color: #f57e7d;
        opacity: 20%;
        border-radius: 2px;
        width: 700px;
        height: 50px;
    }
    #perg{
        display: inline-block;
        margin: 0px 30px 50px 10px;
    }
}

/*Estilização para telas pequenas*/
@media screen and (max-width: 576px) { 
    body{
        margin: 0px 0px 0px 0px;
    }
    #corpo{
        margin: 0px 0px 0px 30px;
    }
    #titulo{
        margin: 0px 0px 30px 0px;
    }
    #barra{
        display: flex;
        background-color: #f57e7d;
        opacity: 20%;
        border-radius: 2px;
        width: 350px;
        height: 30px;
    }
    #perg{
        display: inline-block;
        margin: 0px 0px 35px 0px;
    }
    #itens{
        margin: 0px 0ch 0px 30px;
    }
    #imgitens{
        margin: 0px 0px 0px 30px;
    }
}

