* {
    margin: 0;
    padding: 0;
}

:root{
    /* --cor-dos-textos */
    --cor-main: #7C1D41;
    --cor-seco: #8F3863;
    --cor-thir: #43427E;
}

/*                              Parte do topo                              */
#cabecalho-topo {
    height: 910px;
    background-image: url('../img/principal/bg-tela_principal.jpg');
}
/* -- Elementos do navegador */
#main-nav {
    margin-top: 20px;
}

#txt-logo {
    color: #FFF3E9;
    font-size: 40px;
    place-items: center;
}

#lista-1 {
    background-color: #FFF3E9;
    border: solid 2px #FFF3E9;
    border-radius: 20px;
}

.navbar-toggler-icon {background-image: url(../img/principal/menu_hamburguer.svg);}

#button-color {color: rgba(255, 243, 233, 0.4); border-color: rgba(255, 243, 233, 0.4);}

.nav-link {font-size: 20px; color: #8F3863;}

.nav-link:hover {color: #f67e7d;}

#lista-2 {
    background-color: #843b62;
    border: solid 2px #843b62;
    border-radius: 20px;
}

#lista-2 .nav-link {color: #FFF3E9;}
#lista-2 .nav-link:hover {color: #f67e7d;}
#lista-2 .nav-link:focus {color: #f67e7d;}

/* -- En */

/* -- Texto principal */
#ttl-inicial{
    color: #FFF3E9;
    text-align: center;
}
/* -- Tp */

/*                                    Pt                                    */


/*                            Seção das Receitas                            */
#receitas{
    margin-top: 150px;
}

/* -- Bp */

/* -- Grade das Receitas */
#receitas {
    background: url(../img/principal/toy-story.jpg) center center / 100% no-repeat ; /* Não está funcionando */
}

.ttl-secções {
    color: #7C1D41;
    margin-bottom: 60px;
    text-align: center;
}

.caixa {
    display: grid;
    place-items: center;
    margin: 10px auto;
    float: left;
}

.cardR {
    display: inline-flex;
    width: 350px;
    padding: 10px;
    place-items: center;
}

.cardR {text-decoration: none; color: #843C60;}
.cardR h3:hover {transition: color 0.3s; text-decoration: underline; color: #7e214f;}
.cardR img {margin: 10px; width: 120px; height: 120px; border: medium solid #843C60; border-radius: 15px;}
.cardR h3 {width: 200px; margin: 10px; padding: 5px;}

.cardR img, .cardR h3 {margin: 10px;}

/* -- GR */
#holley {
    margin-top: 20px;
}
/*                                    SR                                    */


/*                         Seção dos Profissionais                         */
#profissionais {
    background: #fff;/* É só pra não desmerecer a propriedade*/
}

.card a {color: #843C60; text-decoration: none;}

.card-body h5, .card-body p  {color: #843C60;}
.card-body:hover {transition: color 0.3s; text-decoration: underline; color: #5e2240;}

#sulivan {
    float: left;
}

#bing-bong {
    float: right;
}

.main-cor-texto {
    color: var(--cor-seco)!important;
}


/*                                   SP                                   */

/* Conheço o Fórum */
#area-figs-forums {
    display: inline-flex;
}

.caixa-forum {
    border: solid 5px var(--cor-main);
}

.card-body:hover {
    text-decoration: none;
}

#texto-p {
    color: var(--cor-thir);
}
/* CoF */

/* Rodapé */
#rodape {
    background-color: var(--bs-secondary-bg);
}
/* RP */


/* RESPONSIVIDADE */
@media screen and (min-width: 577px) { /*Estilização para telas grandes*/
    #profs{
        margin: 2rem 10rem 2rem 10rem;
    }

    #inicio {
        margin-top: 250px;
    }

    #ttl-inicial {
        font-size: 62px;
    }

    .ttl-secções {
        font-size: 50px;
    }

    .caixa-forum {
        width: 700px;
    }

    #rodape-1 {
        display: inline-flex;
    }
}

@media screen and (max-width: 576px) { /*Estilização para telas pequenas*/
    #cardbody{
        margin: 2rem 0rem;
    }

    .card {
        width: 240px;
        margin: 0 auto;
    }

    #inicio {
        margin-top: 150px;
    }

    #ttl-inicial {
        font-size: 45px;
    }

    .ttl-secções {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .cardR {
        width: 175px;
    }

    .cardR img {height: 100px; width: 100px;}

    #holly {
        width: 150px!important;
        height: auto!important;
    }

    #txt-logo {
        display: block!important;
    }

    #bing-bong {
        display: none;
    }

    #area-figs-forums {
        display: grid;
    }

    #clawdeen {
        display: none!important;
    }

    #rodape-1 {
        margin: 0 auto!important;
    }

    #monstrinho-rosa {
        display: none;
    }

    #contatos .nav-link {
        font-size: 12px;
    }
}


