* {
    margin: 0;
    padding: 0;
}

/* Seção do Topo */

#head-topo {
    display: grid;
    max-width: 100%;
    justify-content: center;
}

#navegar {
    width: 1280px;
    display: inline-flex;
    height: 100px;
    place-items: center;
}

#logos {
    display: grid;
    float: left;
    color: #43427E;
}

#n-links {
    display: inline-flex;
    gap: 20px;
    float: right;
    align-items: center;
    padding-bottom: 10px;
}

#itens-da-nav {
    float: left;
    display: inline-grid;
    gap: 10px;
}

#acessos {
    float: right;
}

#acessos a {padding: 0 2px;}

.nav-items {
    padding: 0 10px;
    font-size: 20px;
}

.nav-items a {text-decoration: none; color: #843c60;}

/* - ST */