/* Estilização do NavBar */
#navbar{
    padding-top: 5px;
}
#logo{
    width: 140px;
    height: 90px;
    margin-right: 50px;
    margin-left: 50px;
}
#itens{
    margin: 0px 30px 0px 30px;
    color: #8F3863;
    font-size: 20px;
}
#imgitens{
    margin: 0px 30px 0px 30px;
}

/* Estilização do Botão */
#botao{
    color: #8F3863;
}

/*Estilização para telas grandes*/
@media screen and (min-width: 577px) { 
    #corpo{
        margin: 0px 5px 0px 10px;
    }
    #titulo{
        color: #8F3863;
        background-color: #eee6ea;
        width: fit-content;
        border-radius: 2px;
        margin: 40px 0px 40px 30px;
        padding: 5px 900px 5px 15px;
    }
    #text{
        width: 800px;
        text-align: justify;
        padding-left: 100px;
        float: left;
    }
    #imgright{
        margin-top: -80px;
    }
    #descricao{
        float: right;
    }
}

/*Estilização para telas pequenas*/
@media screen and (max-width: 576px) { 
    #titulo{
        color: #8F3863;
        background-color: #eee6ea;
        border-radius: 2px;
        margin: 10px 10px 10px 0px;
        padding: 5px 0px 5px 10px;
    }
    #text{
        width: fit-content;
        text-align: justify;
        margin: 0px 15px 0px 15px;
        float: left;
    }
    #itens{
        margin: 0px 0px 0px 30px;
    }
    #imgitens{
        margin: 0px 0px 0px 30px;
    }
}