* {
    margin: 0;
    padding: 0;
}

nav { /*1098x57*/
    top: 0;
}

.bvar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    margin: 300px auto;
    padding: 10px;
}

.carnosel {
    margin: 300px auto;
    width: 100%;
}
